<%- include('_header.ejs') -%>
<form method="POST" action="/login">
    <div class="form-group">
      <label for="inputname">User Name</label>
      <input type="text" class="form-control" name="username" id="inputname" aria-describedby="emailHelp" placeholder="Enter username">
      
    </div>
    <div class="form-group">
      <label for="inputpassword">Password</label>
      <input type="password" class="form-control" name="passwordHash" id="inputpassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
  </form>
  

<%- include('_footer.ejs') -%>